ion-label{
    font-size: 14px !important;
}

ion-list{
    padding-left: 8px !important;
}

ion-item h1{
    font-size: 18px;
}

ion-col.Conteúdo{
    white-space: pre-wrap;
    font-size: 13px;
    text-align: justify;
    padding-left: 0px !important;
}

