ion-card{
    min-height: 100px;
    text-align: center;
 
    align-content: center!important;
    align-items: center!important;
    box-shadow: none !important;
}

.swiper-slide img{
  border-radius: 14px;
}

ion-card-subtitle{
  font-weight: 600;
  font-size: 13px;
}

ion-label{
h1{
    font-weight: 600
  }
}